<header class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-2xl font-bold">
      <a href="/"><%= title %></a>
    </div>

    <div class="md:hidden">
      <button id="menu-toggle" class="focus:outline-none">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </button>
    </div>
    <nav class="hidden md:flex">
      <ul class="flex space-x-6">
        <li><a href="/" class="text-gray-300 hover:text-white">Home</a></li>
        <li>
          <a href="/commands" class="text-gray-300 hover:text-white"
            >Commands</a
          >
        </li>
        <li>
          <a
            href="https://discord.com"
            target="_blank"
            class="text-gray-300 hover:text-white"
            >Discord</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div id="mobile-menu" class="hidden md:hidden">
    <nav class="bg-gray-800">
      <a href="/" class="block px-4 py-2 hover:bg-gray-700">Home</a>
      <a href="/commands" class="block px-4 py-2 hover:bg-gray-700">Commands</a>
      <a
        href="<%= links.support %>"
        target="_blank"
        class="block px-4 py-2 hover:bg-gray-700"
        >Discord</a
      >
    </nav>
  </div>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  menuToggle.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>
